<div class="box-header">
  <div class="title">
<h4><%= this.model.stack_list.last().attributes.name %></h4>
  </div>
  <div class="avatar" style="float:right;">
  <img class="avatar-small" src="<%=this.model.attributes.image_url_small%>">
</div>
</div>

<div id="stackresults" class="box-content padded">

</div>