
<div id="resttilebox" data-id="<%= this.model.cid %>" >
  <img style="height:8em;" id="tile" src="<%= this.model.attributes.image_url %>"></img>
   <div id="tileoverlay">
    <%= this.model.attributes.name %> <br>
    <%= date %>
    </div>
    
</div>



