

<img src="<%= this.model.attributes.image_url %>"></img>
<div id="tilebox" data-id="<%= this.model.cid %>">
<span id="tilename"><%= this.model.attributes.name %>
</span>
<div id="tileoverlay">
</div>
</div>