


<div id="resttilebox" data-id="<%= this.model.id %>" >
  <img id="tile" src="<%= this.model.attributes.image_url %>"></img>
 
  <div id="tileoverlay">
    <%= this.model.attributes.name %>
  </div>


<div class="yelpstars">
  <img src="<%= this.model.attributes.yelp_stars_url %>"></img>
<div>
  </div>


