<div class="box-header">
  <div class="title">
<h4><%= this.model.name %></h4>
  </div>
  <div class="avatar" style="float:right;">

</div>
</div>

<div id="stackresults" class="box-content padded">

</div>