<div class="row">

<div id="googlemap">
  <div id="map-canvas">

  </div>
</div>
</div>

<div class="row">
  <div id="searchlayer" class="span5 offset1">
    <h3>Search an area</h3>
    <div id="searchbox">
      <input type='text' id='areasearch' placeholder='Enter a search term...'/>
    </div>
    <button id="showall" class="btn btn-large btn-gray">All</button>
    <button id="restaurantfilter" class="btn btn-large btn-red">Restaurants</button>
    <button id="barfilter" class="btn btn-large btn-sea">Bars</button>
    <button id="concertfilter" class="btn btn-large btn-facebook">Concerts</button>
  </div>

</div>


<div class="row">

  <div id="searchresults"  class="span7">
  </div>
 <button id="stackbutton" class="btn btn-large btn-facebook">Create Stack</button>
  <div class="span5">
   
  <div id="calendar">
  </div>
</div>



</div>


<div class="clear"></div>
