

<div id="googlemap">
<div id="map-canvas">

</div>
</div>
<h2>Search for Events</h2>
<div id="searchbox">
  <input type='text' id='areasearch' placeholder='Enter a search term...'/>
</div>

<div id="searchresults">
</div>

<div class="clear"></div>
