<div class="row-fluid">

  <div id="googlemap">
    <div id="map-canvas">

    </div>
  </div>
</div>


<div class="container-fluid padded">

  <div class="row-fluid">
    <div id="searchlayer" class="span4">
      <h3>Search Your Neighborhood</h3>

      <input id="datepicker" class="datepicker fill-up" type="text" placeholder="Date"/>

      <div id="searchbox" class="input-prepend">
        <a class="add-on" href="#">
          <i class="icon-search"></i>
        </a>
        <input type='text' id='areasearch' placeholder='Enter a location'/>
      </div>
    <div id="buttons">
      <button id="showall" class="btn btn-large btn-gray">All</button>
      <button id="restaurantfilter" class="btn btn-large btn-red">Restaurants</button>
      <button id="barfilter" class="btn btn-large btn-green">Bars</button>
      <button id="dancefilter" class="btn btn-large btn-black">Nightlife</button>
      <button id="concertfilter" class="btn btn-large btn-facebook">Concerts</button>
    </div>
    </div>
  </div>


  <div id="bottomarea" class="row-fluid">
    <div id="scrollbox" class="span7">


      <div id="searchresults" class="span12 fly-simplified">

      </div>
      <div class="waiting">
      </div>
    </div>


    <div id="calendarbox" class="box span5">
      <div class="box-header">
        <div id="stacknamebox">
          <input type='text' id='stackname' placeholder='Name Your Event!' style="float:left;"/>
        </div>
        <button id="stackbutton" class="btn btn-large btn-facebook">Create Stack</button>
      </div>

      <div class="box-content">
        <div id="calendar" class="fc">
        </div>
      </div>

    </div>


