$restaurant: #B20000;
$bar: #0d7d10;
$concert: #1461ad;
$dance: #5C5B5B;

#createstack{
  width:24.8em;
  margin: 15px;
}

#stackscrollbox{
  overflow: scroll;
  height: 800px;
  padding-left: auto;
  padding-right: auto;
}

#stackscroll{
  overflow: scroll;

  padding: 30px;
}

h3.stack{
font-size: 24.5px;
width: 10em;
float: left;
margin-left: 1em;
}

.stacktile{
 width: 20em;
 height: 5em;
 margin: 0.2em;
 padding: 1em;
 box-shadow: 3px 3px 2px #888;
 border-radius: 5px;

}

#Restaurants{
  background-color: $restaurant;
}

#Concerts{
  background-color: $concert;
}

#Bars{
  background-color: $bar;
}

#DanceClubs{
  background-color: $dance;
}

.stackyelpstars{
  width: 5em;
  float:right;
  // position: relative;
  // top: -3em;
}

.stacktilename{
  float: left;
}

#stackoverlay{
  position: absolute;
  overflow: hidden;
  width: 15em;
  max-height: 5em;
  margin-left: 5.5em;
  background-color: rgba(0, 0, 0, 0.6);
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  top: 0em;
}

#stacktilebox{
  position: relative;
  width: 5em;
  height: 5em;
  color: #fff;
}

#searchresults{
  float: left;

}

#scrollbox{
  margin-top: 15px;
  // padding-left: 1em;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 34.6em;
}

body{
  overflow: hidden;
}


#searchlayer{
  height: 14.5em;
  width: 40em;
  margin-left: 0.6em;
  z-index: 999;
  position: absolute;
  top: 90px;
  background-color: rgba(0, 0, 0, 0.6);
  // padding-top: 1em;
  padding-left: 2em;
  box-shadow: 5px 5px 2.5px #888;
  border-radius: 5px;
  color: white;
}

#calendarbox{
  height: 34.8em;
  margin-top: 13px;
}


.event_tile{
  width: 8em;
  height: 9em;
  background-color: $concert;
  margin: 0.3em;
  padding: 1em;
  box-shadow: 3px 3px 2px #888;
  border-radius: 5px;
  float:left;
}

#tile{
  width:8em;
}

// div.rest_tile :hover {
// -webkit-transform: scale(1.25);
// -moz-transform: scale(1.25);
// position: relative;
// z-index: 5;
// }

.rest_tile{
  width: 8em;
  height: 9em;
  background-color: $restaurant;
  margin: 0.3em;
  padding: 1em;
  box-shadow: 3px 3px 2px #888;
  border-radius: 5px;
  float:left;
}

.bar_tile{
  width: 8em;
  height: 9em;
  background-color: $bar;
  margin: 0.3em;
  padding: 1em;
  box-shadow: 3px 3px 2px #888;
  border-radius: 5px;
  float:left;
}

.dance_tile{
  width: 8em;
  height: 9em;
  background-color: $dance;
  margin: 0.3em;
  padding: 1em;
  box-shadow: 3px 3px 2px #888;
  border-radius: 5px;
  float:left;
}

#resttilebox{
  position: relative;
  width: 8em;
  height: 7em;
  color: #fff;
}

#tilebox{
  position: relative;
  overflow: hidden;
  display: inline;
  top: -7em;
  width: 7em;
  height: 100%;
  color: #fff;
  border-top: 1px solid rgba(0, 0, 0, .9);
}


#tilename{
  margin-left: 0.5em;
  font-size: 1em;
  color: white;
  opacity: 1;
  position: absolute;
  top: 0;
}


#tileoverlay{
  position: absolute;
  overflow:hidden;
  width: 100%;
  max-height: 7em;
  background-color: rgba(0, 0, 0, 0.6);
  border-top: 1px solid rgba(0, 0, 0, .3);
  top: 0;
}

#googlemap{
  height:20em;
  width:100%;
}

.waiting{
  background:url('/assets/loading.gif');
  height: 60px;
  width: 60px;
  margin-left:auto;
  margin-right:auto;
  margin-top: 200px;
  z-index: 999;
  display: none;
}

.yelpstars{
  z-index: 999;
}

#map-canvas{
  height:20em;
  width:100%;
}

#start{
  width: 100%;
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property:    -moz-transform, opacity;
  -ms-transition-property:     -ms-transform, opacity;
  -o-transition-property:      -o-transform, opacity;
  transition-property:         transform, opacity;
}

input{
  max-width: 435px; 
}
