#searchresults{
  float: left;
  margin-top: 40px;

}

#searchlayer{
  height: 13em;
  z-index: 999;
  position: absolute;
  top: 80px;
  background-color: rgba(0, 0, 0, 0.6);
  padding-top: 1.5em;
  padding-left: 2em;
  box-shadow: 5px 5px 2.5px #888;
  border-radius: 5px;
  color: white;
}

// #calendar{
//   height: 80em;
// }

.rest_tile{
  width: 6.8em;
  height: 9em;
  background-color: #B20000;
  margin: 0.3em;
  padding: 1em;
  box-shadow: 3px 3px 2px #888;
  border-radius: 5px;
  }

.event_tile{
  width: 6.8em;
  height: 9em;
  float: left;
  background-color: blue;
  margin: 0.3em;
  padding: 1em;
}

#resttilebox{
  position: relative;
  overflow: hidden;
  display: inline;
  top: -7em;
  width: 7em;
  height: 100%;
  color: #fff;
  border-top: 1px solid rgba(0, 0, 0, .9);
}

#tilebox{
  position: relative;
  overflow: hidden;
  display: inline;
  top: -7em;
  width: 7em;
  height: 100%;
  color: #fff;
  border-top: 1px solid rgba(0, 0, 0, .9);
}

#tilename{
  margin-left: 0.5em;
  font-size: 1em;
  color: white;
  opacity: 1;
  position: absolute;
  top: 0;
}

#tileoverlay{
position: absolute;
height: 100%;
width: 100%;
background-color: rgba(0, 0, 0, 0.6);
border-top: 1px solid rgba(0, 0, 0, .3);
top: 0;
}

#googlemap{
  height:20em;
  width:100%;
}

#map-canvas{
  height:20em;
  width:100%;
}

#start{
  width: 100%;
}